:root {
    --primarycolor: #a33939;
    --secondarycolor: rgb(255, 110, 110);
    --backcolor: #f4f4f4;
    --maincolor: white;
    --maintwo: grey;
    --primaryhover: rgb(255, 110, 110);
    --tertiarycolor: rgb(255, 110, 110);
    --tertiaryhover:  rgb(52, 165, 127);
}

body {
    margin: 0;
    background-color: var(--backcolor);
    display: flex;
    flex-direction: column;
    font-family: Mont;
    letter-spacing: 1px;
    overflow-x: hidden;
}

@font-face {
    font-family: Mont;
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 150px;
    position: fixed;
    top: 0;
    box-shadow: 0 2.5px 10px rgba(114, 114, 114, 0.735);
    z-index: 2;
    width: 100vw;
    font-size: 30px;
}

header>div {
    flex: 1;
}

#logo {
    margin: 10px;
}

header :nth-child(2) {
    text-align: center;
}

header :nth-child(3) {
    text-align: right;
}

#emptyhead {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

#emtyhead>div {
    flex: 1;
}

#empty {
    background-color: var(--primarycolor);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 150px;

}

#head2 {
    background-color: var(--primarycolor);
    width: 100vw;
    height: 150px;
    position: fixed;
    top: 0;
    z-index: 0;
}

#empti {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 150px;

}

#svgee {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.svgg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

h1 {
    margin: 0;
    padding: 10px;
}

a {
    scroll-margin-top: 150px;
}

a>p {
    margin: 0;
    white-space: nowrap;
}

p {
    font-size: 15px;
    margin: 10;
}

h2 {
    color: var(--secondarycolor);
}

nav {}

nav>ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

ul {
    padding: 0;
}

li {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

li:hover {
    background-color: var(--secondarycolor);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container:nth-of-type(odd) {
    background-color: var(--maintwo);
    color: white;
}

div {
    margin: 0;
}

.container {
    background-color: var(--maincolor);
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
    flex-direction: column;
    /*box-shadow: 0 5px 20px rgb(114, 114, 114);*/
    width: 100vw;
    /*margin-bottom: 25px;*/
    scroll-margin-top: 150px;
}

.container>div {
    width: 80vw;
}

h3 {
    color: white;
}

.texperience {
    border-radius: 5px;
    background-color:  var(--primarycolor);
    margin: 10px;
    text-align: center;
}

.gameFlex {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.gameFlex>div {
    display: flex;
    flex-direction: row;
}

.icontain {
    flex: 1;
    min-width: 150px;
    max-width: 180px;
}

.iGames {
    border-radius: 10px;
    background-color:  var(--primarycolor);
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    height: 250px;
}

.iGames {
    border: var(--secondarycolor) double 5px;
}

.iGames:hover {
    background-color: var(--primaryhover);
}

#iGameHighlight {
    background-color: var(--tertiarycolor);
}

#iGameHighlight:hover {
    background-color: var(--tertiaryhover);
}

.iGames>p{
    color: rgb(255, 255, 255);
}

/*.iGames2 {
    border-radius: 10px;
    background-color: #ee2c46;
    text-align: center;
    padding: 10px;
}

.iGames2 > p {
    padding: 85px, 10px, 0;
}*/

.theGames {
    height: 100px;
    overflow-y: hidden;
  white-space: nowrap;
  width: 110px;
  margin: auto;
}

.certImages {
    max-width: 180px;
    height: 75px;
    object-fit: cover;
    border: white, solid, 2px;
    border-radius: 5px;
}

.iGames>p {
    padding-left: 10px;
    padding-right: 10px;
}

img:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

svg:hover {
    animation: shake .1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

footer {
    background-color: var(--secondarycolor);
    color: var(--maincolor);
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}


/* ------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 1700px) {
    /*:root {
        --primarycolor: rgb(52, 165, 127);
        --secondarycolor: rgb(92, 221, 98);
        --backcolor: #121212;
        --maincolor: rgb(30, 30, 30);
        --maintwo: rgb(50, 50, 50);
        --primaryhover: rgb(92, 221, 98);
        --tertiarycolor: rgb(92, 221, 98);
        --tertiaryhover: rgb(255, 110, 110);
    }

    #allGames {
        display: flex;
        justify-content: space-evenly;
    }

    #games, #games2 {
        width: 50vw;
        padding: 0;
    }

    #games>div, #games2>div {
        width: 30vw;
    }

    .gameFlex {
        justify-content: space-evenly;
    }*/
}

@media screen and (max-width: 1545px) and (min-width: 1430px) {

    li {
        padding: 5px;
    }

    .container {
        scroll-margin-top: 150px;
    }
}

@media screen and (max-width: 1430px) and (min-width: 1220px) {
    header {
        font-size: clamp(20px, 2vw, 30px);
    }

    li {
        padding: 2.5px;
    }

    p {
    }

    .container {
        scroll-margin-top: 150px;
    }
}

@media screen and (max-width: 1220px) and (min-width: 805px) {
    body {}

    header {
        flex-direction: column;
        height: 150px;
        font-size: 20px;
    }

    #head2 {
        height: 150px;
    }

    svg {
        width: 100vw;
        height: 150px;
    }

    .container {
        scroll-margin-top: 150px;
    }

    #navdiv {
        margin-top: -15px;
    }

    rect {}

    animateMotion {}

    li {
        padding: 10px;
    }

    .icontain {
        padding-bottom: 10px;
    }

    a {
    }
}

@media only screen and (max-width: 805px) and (min-width: 300px) {

    header {
        flex-direction: column;
        height: 150px;
        font-size: clamp(15px, 5vw, 20px);
    }

    #head2 {
        height: 150px;
    }

    svg {
        width: 100vw;
        height: 150px;
    }

    .container {
        scroll-margin-top: 150px;
    }

    #navdiv {
        margin-top: -15px;
    }

    header>div {
        flex-grow: 1;
        min-width: 200px;
    }

    .gameFlex {
        flex-wrap: wrap;
    }

    .gameDouble {
        flex-wrap: wrap;
    }

    .icontain {
        padding-bottom: 10px;
        margin: auto;
        flex: 1;
        min-width: 160px;
        max-width: 180px;
    }

.icontain {
}

    li {
        padding: 2px;
    }

    a>p {
        margin: clamp(1px, 1vw, 10px);
        font-size: clamp(8px, 1.5vw, 15px);
    }
}

@media only screen and (max-width: 300px) {

    #logo {
        visibility: collapse;
        margin: -10px;
    }

    h1 {
        font-size: 25px;
        padding-top: 60px;
    }

    header {
        flex-direction: column;
        height: 150px;
        font-size: 15px;
    }

    #head2 {
        height: 150px;
    }

    svg {
        width: 200vw;
        height: 150px;
    }

    .container {
        scroll-margin-top: 150px;
    }

    #navdiv {
        height: 10px;
    }

    header>div {
        flex-grow: 1;
        min-width: 200px;
    }

    h2 {
        font-size: 16px;
    }
    
    footer {
        height: 20px;
        font-size: 10px;
        padding-top:7.5px;
    }

    footer>h3 {
        margin: 0;
    }

    .gameFlex {
        flex-wrap: wrap;
    }

    .gameDouble {
        flex-wrap: wrap;
    }

    .icontain {
        padding-bottom: 10px;
        margin: auto;
    }

    a>p {
        margin: 1px;
        font-size: 8px;
    }

    li {
        padding: 2px;
    }
}